@import url(http://fonts.googleapis.com/css?family=Overlock:400,400italic);

body {
	font-family: 'Overlock', cursive;
	background-color: #252525;
   color: white;
   text-shadow:
       5px 5px 0 #000,
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
}

.title {
    font-size: 3em;
    margin-left: auto;
	   margin-right: auto;
	   width: intrinsic;

}
.main {
	font-size: 1.5em;
	margin-left: auto;
	   margin-right: auto;
	   width: intrinsic;
}
button {
	color: black;
	width: 100%;
}
.un {
	background-color: #b4b4b4;
}
/*div {
	padding-top: .2em;
}*/
